node_modules
dist
.output
.vinxi
pnpm-lock.yaml
package-lock.json
routeTree.gen.ts
src/integrations/supabase/types.ts
src/integrations/supabase/client.ts
src/integrations/supabase/client.server.ts
src/integrations/supabase/auth-middleware.ts
src/integrations/supabase/auth-attacher.ts

